.cartTitle {
  text-align: center;
  margin: 40px 0;
}

.cartPage {
  display: flex;
  gap: 24px;
  margin-bottom: 80px;
}

.cartItems {
  width: 70%;
  padding: 32px;
  background-color: var(--cinza-claro);
}
